body{
    font-size: 20px;
    background-color: cadetblue;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-header{
    background-color: grey;
    border-radius: 0;
    border: 2px solid black;
}
.navbar-brand h1{
    color: #000;
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 600;
    line-height: .90;
}



.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.container{
    margin-left: 0px;
    margin-top: 0;
    
}
button.navbar-toggle.collapsed {
    border: 2px solid black;
}
 .icon-bar{
    border: solid black;
}
ul#nav-list{
    background-color: blanchedalmond;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid black;

}
li{
    border-bottom: 2px solid black;
    text-align: center;
}
.p{
    background-color: grey;
    height: 500px;
    margin-bottom: 55px;
}
h3{
    text-align: center;
}
.row{
    margin: 55px 55px 0 55px;
}